{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Write your own blog</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <!--<a class="navbar-brand" href="#">Navbar</a>-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'blog:bloglist' %}">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:create' %}">Create your blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:profile' %}">Your blog</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'blog:business' %}">Business</a></li>
                <li><a class="dropdown-item" href="{% url 'blog:education' %}">Education</a></li>
                <li><a class="dropdown-item" href="{% url 'blog:entertainment' %}">Entertainment</a></li>
                <li><a class="dropdown-item" href="{% url 'blog:politics' %}">Politics</a></li>
                <li><a class="dropdown-item" href="{% url 'blog:sports' %}">Sports</a></li>
                <li><a class="dropdown-item" href="{% url 'blog:other' %}">others</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'blog:logout_view' %}">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <h4>"Either write something worth reading or do something worth writing" -Benjamin Franklin</h4></br>
	

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
    <form method='post' action="" enctype="multipart/form-data">
      {% csrf_token %}

      {{form|crispy}}
      {{form.media}}

      <button type="submit"  value="Submit">CREATE</button>
    </form>
  </body>
</html>
